@font-face {
    src: url("poppins.regular.ttf");
    font-family: Poppins;
}

body {
    background-color: rgb(31, 31, 31);
    color: aliceblue;
    font-family: Poppins, Arial;
}

#page {
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
    color: black;
    background-color: aliceblue;
    box-shadow: 10px 10px 15px black;
    border-radius: 15px;
}

th, td {
    width: 35%;
}

#footer {
    position: absolute;
    bottom: 0;
}