@font-face {
    src: url("poppins.regular.ttf");
    font-family: Poppins;
}

body {
    background-color: rgb(31, 31, 31);
    color: aliceblue;
    font-family: Poppins, Arial;
    text-align: center;
}

table {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    color: black;
    background-color: aliceblue;
    box-shadow: 10px 10px 15px black;
    border-radius: 15px;
}

table th, td {
    width: 200px;
}

table a:hover {
    color: red;
}

table a {
    text-decoration: none;
}