@font-face {
    src: url("poppins.regular.ttf");
    font-family: Poppins;
}

body {
    background-color: rgb(31, 31, 31);
    color: aliceblue;
    font-family: Poppins, Arial;
    text-align: center;
}

table {
    color: black;
    background-color: aliceblue;
    box-shadow: 10px 10px 15px rgb(0, 0, 0);
    border-radius: 15px;
}

#tables {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

caption {
    color: aliceblue;
    font-size: 25px;
}

#tables div {
    padding-top: 50px;
    float: left;
}

#pvp {
    padding-right: 5px;
}

#header h1 span:hover:after {
    content: ' kys';
}

#header h1 span:after {
    content: ' III';
}

table th a {
    text-decoration: none;
    color: black;
    cursor: default;
}

table th, td {
    width: 200px;
}

table a img {
    width: 30px;
}